# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python Env.
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-html pytest-rerunfailures
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run test framework
      run: python run_test.py
        
    - name: Upload report(Artifacts)
      if: always() # make sure all reports uploaded
      uses: actions/upload-artifact@v4
      with:
        name: pytest-report
        path: reports/
        retention-days: 7  # reserve the VM for 7 days
